@media screen and (max-width: 465px) {
  #container-header {
    font-size: 10px;
  }

  #container-text-header {
    gap: 30px !important;
  }

  #container-text-header .play-game {
    padding-top: 8px !important;
  }

  #dropdown-header {
    font-size: 12px;
  }

  #dropdown-menu-header {
    font-size: 10px;
  }

  #back-icon-header {
    width: 20px;
  }
}
