@media screen and (max-width: 465px) {
  #sidebar-dahsboard {
    display: none !important;
  }

  #container-dashboard {
    flex-direction: column !important;
    min-height: 100vh !important;
  }

  #container-content-dashboard {
    min-height: 85vh !important;
  }

  #content-dashboard {
    min-height: 75vh !important;
    margin-top: 50px;
  }

  #footer-dashboard {
    font-size: 12px !important;
    gap: 15px !important;
  }
  #footer-name {
    flex-direction: column !important;
  }
}

@media screen and (min-width: 466px) {
  #navbar-dashboard {
    display: none;
  }
}
