@media screen and (max-width: 465px) {
  #container-leaderboard {
    flex-direction: column-reverse !important;
    padding: 10px !important;
  }

  #congrats {
    width: 100% !important;
  }

  #congrats h2 {
    margin-bottom: 5px !important;
  }

  #container-list-leaderboard {
    padding: 10px !important;
  }

  #content-leaderboard {
    width: 100% !important;
    max-height: 400px !important;
  }

  #number-leaderboard {
    padding-left: 5px !important;
  }

  #name-leaderboard {
    font-size: 15px !important;
    padding-bottom: 0px !important;
  }

  #score-leaderboard {
    font-size: 10px !important;
    padding-top: 10px !important;
  }

  #logo-piala {
    width: 180px !important;
    height: 180px !important;
    margin: auto;
  }
}
