.line-profile {
  margin-left: 140px;
  margin-top: 20px;
}
@media screen and (max-width: 1480px) {
  .line-profile {
    margin-left: 120px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .line-profile {
    margin-left: 100px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 992px) {
  .line-profile {
    margin-left: 80px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .line-profile {
    margin-left: 60px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 426px) {
  .line-profile {
    margin-left: 40px;
    margin-top: 20px;
  }
}
