.wrapper-register {
    max-width: 950px;
  min-height: 500px;
  margin: 80px auto;
  padding: 40px 30px 30px 30px;
  background-color: #ecf0f3;
  border-radius: 15px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.button-register {
    width: 100px;
    height: 45px;
}

.select-register {
  width: 8em;
  height: 2em;
}