.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* CLASS JOKER */
.background-set {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.placeholder-orange::placeholder {
  color: orange;
}

.fs-13px {
  font-size: 13px;
}

.grey-light {
  color: rgb(90, 90, 90);
}

.white-text {
  color: rgb(243, 243, 243);
}

.hover-orange:hover {
  color: orange;
}

.border-l-semi-grey {
  border-left: 1px rgba(255, 255, 255, 0.175) solid;
}
.border-t-semi-grey {
  border-top: 1px rgba(255, 255, 255, 0.175) solid;
}
.border-r-semi-grey {
  border-right: 1px rgba(255, 255, 255, 0.175) solid;
}
.border-b-semi-grey {
  border-bottom: 1px rgba(255, 255, 255, 0.175) solid;
}

.hover-pointer:hover {
  cursor: pointer;
}

.text-small {
  font-size: 12px !important;
}

.hover-warning:hover {
  color: #ffa135 !important;
}

.minvh {
  min-height: 100vh !important;
}

.bg-slate {
  background-color: #f3f3f3 !important;
}

.rotate-180 {
  transform: rotate(180deg) !important;
}

.duration-700 {
  transition-duration: 700ms !important;
}

.w-5 {
  width: 5% !important;
}

.w-20 {
  width: 12% !important;
}

.text-hover:hover {
  color: #c87f00 !important;
}

.loading {
  top: 40% !important;
  left: 42% !important;
}

.z-index-30 {
  z-index: 30 !important;
}
.z-index-35 {
  z-index: 35 !important;
}

.max-h-500px {
  max-height: 550px !important;
}

.bg-lightblue {
  background-color: #61dafb !important;
}

.hover-text-black:hover {
  color: black !important;
}

.text-shadow {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15) !important;
}

.custom-scroll-bar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  border-radius: 10px !important;
  background-color: #f5f5f5 !important;
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 8px !important;
  background-color: #f5f5f5 !important;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  background-color: #555 !important;
}
/* END CLASS JOKER */
